dist/docs/
dist/bundle.js
dist/bundle.js.map
examples/
src/
translations/
.github/
**/__tests__
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc
README.ja.md
README.md
gulpfile.ts
jest.config.js
renovate.json
tsconfig.json
